@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ZhankuFont';
  src: url('../assets/fonts/zhanku.ttf'); /* 注意路径 */
}

@font-face {
  font-family: 'Zyfht';
  src: url('../assets/fonts/zyfht.ttf'); /* 注意路径 */
}

@layer components {
  .menu-active {
    @apply border-solid border border-border-color bg-white;
  }
}

.rotating-element {
  transform: rotate(180deg);
  transition: all 0.3s;
}
