@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ZhankuFont';
  src: url('../assets/fonts/zhanku.ttf'); /* 注意路径 */
}

@font-face {
  font-family: 'Zyfht';
  src: url('../assets/fonts/zyfht.ttf'); /* 注意路径 */
}

@layer components {
  .menu-active {
    @apply border-solid border border-border-color bg-white;
  }
  .todo-complete {
    @apply line-through text-[#BEBEBE] !important;
  }
}

.unselectable {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* 标准语法 */
}
